* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(243, 243, 243);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 1000px;
    align-items: center;
    background: radial-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('imgs/bg-iss013e78960.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #f5f5f5;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 3em;
    margin-top: 20px;
    size: 100%;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    text-align: center;
}

.sidebyside {
    display: flex;
    justify-content: space-around;
    background-color: #101316;
}

.sidebyside>* {
    margin: 5px;
}
